*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Pangea,sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

img{
    width: 100%;
    height: 100%;
}

.detailProduct{
    padding: 60px 0;
}

.detailProduct .product{
    display: flex;
    max-width: 70%;
    height: 80vh;
    margin: 0 auto;
    justify-content: space-around;
}

.detailProduct .product__image{
    width: 40%;
    padding: 0 10px;
    border-radius: 20px;
    position: relative;
}

.detailProduct .product__image img{
    border-radius: 8px;
    object-fit: cover;
}

.detailProduct .product__image .image__box{
    position: absolute;
    width: 40px;
    left: -40px;
    top: 0;
    height: 100%;
    overflow: hidden;
}

.detailProduct .product__image .image__item{
    width: 40px;
    height: 58px;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    opacity: .5;
}

.detailProduct .product__image .image__item.active{
    opacity:unset;
}

.detailProduct .product__summary{
    width: 50%;
    padding: 0 35px;
    border-bottom: 1px solid #ccc;
}

.detailProduct .product__summary .product__title h1{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.product__summary .product__star{
    display: flex;
    margin-bottom: 20px;
}

.product__summary .product__star .product__star-item{
    width: 16px;
    height: 16px;
    margin-right: 5px;
    
}

.product__summary .product__star span{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .03em;
    font-weight: 400;
}

.product__summary .product__price{
    margin-bottom: 20px;
    display: flex;
}

.product__summary .product__price .product__price-regular{
    font-weight: 600;
    font-size: 22px;
}

.product__summary .product__price .product__price-compare{
    color: #c4c4c4;
    margin-left: 14px;
    font-weight: 550;
    font-size: 22px;
    text-decoration: line-through;
}

.product__summary .product__price .product__price-percent{
    color: #ff3102;
    font-size: 19px;
    margin-left: 5px;
}

.product__summary .product__price-hint{
    color: #2f5acf;
    font-style: italic;
    margin-bottom: 50px;
}

.product__summary .product__coupon .product__coupon__heading{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #231f20;
    margin-bottom: 10px;
}

.product__summary .product__coupon_wrapper{
    display: flex;
    margin-bottom: 20px;
}

.product__summary .product__coupon_wrapper .mini_coupon{
    background-color: #c90000;
    width: 90px;
    height: 30px;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer;
}

.product__summary .option__color{
    margin-bottom: 20px;
}

.product__summary .option__color .option__box {
    display: flex;
    margin-bottom: 10px;
}

.product__summary .product__option .option__color p{
    margin-bottom: 10px;
    color:#231f20;
    font-size: 14px;
}

.product__summary .option__color .option__item{
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    min-width: 60px;
    border-radius: 16px;
    background-color: #d9d9d9;
    text-align: center;
    margin-right: 15px;
    cursor: pointer;
    
}

.option__size .option__item.active,
.option__color .option__item.active{
    background-color: #000 !important;
    color: white;
}

.product__summary .option__size{
    margin-bottom: 40px;
}

.product__summary .product__option .option__size p{
    margin-bottom: 10px;
    color:#231f20;
    font-size: 14px;
}

.product__summary .option__size .option__box {
    display: flex;
    margin-bottom: 10px;
}

.product__summary .option__size .option__item{
    height: 40px;
    line-height: 40px;
    min-width: 60px;
    padding: 0 15px;
    border-radius: 16px;
    background-color: #d9d9d9;
    text-align: center;
    margin-right: 15px;
    cursor: pointer;
}

.product__summary .option__action{
    display: flex;
    justify-content: space-between;
}

.product__summary .option__action .option__quantity{
    width: 100px;
    height: 40px;
    border: 1px solid black;
    border-radius: 24px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    line-height: 40px;
    padding: 0 12px;
    font-weight: 550;
    margin-right: 20px;
}

.product__summary .option__action .option__quantity input{
    max-width: 40px;
    text-align: center;
    border: none;
    outline: none;
    font-weight: 550;
}

.product__summary .option__action .option__quantity span{
    cursor: pointer;
    user-select: none;
}

.product__summary .option__action .option__addBtn{
    height: 40px;
    width: 65%;
    border: 1px solid black;
    border-radius: 24px;
    padding: 0 30px;
    background-color: #000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.product__summary .option__action .option__addBtn img{
    width: 20px;
    height: 20px;
    margin-right: 6px;
}

.product__summary .option__action .option__addBtn span{
    line-height: 40px;
}

.detailProduct .description{
    max-width: 70%;
    margin: 0 auto;
    margin-top: 60px;
    padding: 0 30px;
}

.detailProduct .description__heading{
    width: 100%;
    padding: 14px;
    font-weight: 500;
    background: rgba(0,0,0,.02);
    color: rgba(0,0,0,.87);
    margin-bottom: 30px;
}

.detailProduct .description__body{
    padding: 0 10px;
}

.detailProduct .reviews{
    max-width: 70%;
    margin: 0 auto;
    margin-top: 60px;
    padding: 0 30px;
}

.detailProduct .reviews .reviews__heading{
    width: 100%;
    padding: 14px;
    font-weight: 500;
    background: rgba(0,0,0,.02);
    color: rgba(0,0,0,.87);
    margin-bottom: 30px;
}

.detailProduct .reviews__heading .review__title{
    margin-bottom: 10px;
}

.detailProduct .reviews__heading .review__star{
    width: 100%;
    align-items: center;
    background-color: #fffbf8;
    border: 1px solid #f9ede5;
    padding: 30px;
}

.reviews .review__star{
    display: flex;
}

.reviews .review__star .star__point{
    width: 20%;
}

.reviews .review__star .rating-overview{
    color: #ee4d2d;
    margin-bottom: 5px;
    font-size: 25px;
}

.reviews .review__star .rating-image{
    display: flex;
}

.reviews .review__star .rating-image img{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.reviews .review__star .star__filter{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
}

.reviews .review__star .filter__option{
    border: 1px solid #ccc;
    min-width:100px;
    height: 32px;
    line-height: 32px;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
}

.filter__option.active{
    border: 1px solid #ee4d2d !important;
    color: #ee4d2d;
}

.reviews .feedback{
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom:1px solid #ccc;
}

.reviews .feedback .user__avatar{
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: bold;
    
}

.reviews .feedback .user__avatar img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.reviews .feedback .user__avatar i{
    color: rgba(0,0,0,.4);
    font-size: 12px;
}

.reviews .feedback .feedback__star{
    display: flex;
    margin-bottom: 10px;
    padding-left: 50px;
}
.reviews .feedback .feedback__star img{
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

.reviews .feedback .feedback__comment{
    font-size: 14px;
    font-weight: 600;
    padding-left: 50px;
    padding-top: 10px;
}

.reviews .feedback .feedback__date{
    color: rgba(0,0,0,.4);
    font-size: 14px;
    padding-left: 50px;
    padding-top: 10px;
}
