*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif
}

.container{
   
    background-color: #000;
    color: #fff;
    padding: 30px 0;
    font-size: 13px;
    line-height: 160%;
    color: #d9d9d9;
}

a{
    text-decoration: none;
    color: white;
}

img{
    width: 100%;
    height: 100%;
}

.container .footer1{

    display: flex;
    padding-left: 64px;
    padding-right: 64px;
    justify-content: space-between;
    align-items: center;
}

.footer__left{
    width: 33.33%;
}

.footer__left h2{
    color: white;
    font-weight: bold;
}

.footer__middle{
    width: 33.33%;
    padding: 0 50px;
}

.footer1 .footer__middle__infor{
    display: flex;
    align-items: center;
    width: 200px;
}

.footer__middle .footer__middle__contact{
    margin-bottom: 12px;
    font-weight: bold;
}

.footer__middle .footer__middle__contact span{
    margin-left: 45px;
    font-weight: bold;
}

.footer1 .footer__middle__infor i{
    text-align: center;
    color: white;
    margin-right: 15px;
    font-size: 30px;
}


.footer__right{
    width: 33.33%;
}

.footer__right .social{
    font-size: 30px;
    display: flex;
    justify-content: space-around;
}

.footer__right .social a{
    width: 30px;
    height: 40px;
}